@model IEnumerable<FolderManage.Models.File>

@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:30px">
    <div class="col-md-4">
        <a href="#" onclick="showModal()" class="btn btn-dark">Create</a>
        <a href="#" onclick="showModalUpload()" class="btn btn-dark">Upload</a>

    </div>
    <div class="col-md-7">
        <div class="row">
            @using (Html.BeginForm("Index","Home",FormMethod.Post))
            {
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Nhập từ khóa:</span>
                    </div>

                    <input type="text" name="q" id="q" placeholder="từ khóa tìm kiếm" class="form-control" value="" />
                    <input type="submit" value="Search" class="btn btn-dark" />
                </div>

            }


        </div>
    </div>
    <div class="col-md-1"><a href="/Home/Index/@ViewBag.ParentID" class="btn btn-outline-dark">Back</a></div>

</div>
<div class="row" style="margin-top:30px">
    @*nếu có file con*@
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-lg-1 text-center myFolder">
                @switch (item.FileType)
                {
                    case 1:
                        <a href="/Home/Index/@item.Id" class="btn btn-light">

                            <img class="" width="41" height="32" src="~/Content/images/Folder.jpg" />
                            @if (item.FolderName.Length > 10)
                            {
                                <p style="text-align:center">
                                    @item.FolderName.Substring(0, 10)  ...
                                </p>
                            }
                            else
                            { <p style="text-align:center">
                                    @item.FolderName
                                </p>}


                        </a>
                        <div></div>

                        <a href="#" class="hoverCom">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                        <a href="#" onclick="GetObjById(@item.Id)" class="hoverCom"><i class="fa fa-pencil-square-o" style="color:green" aria-hidden="true"></i></a>
                        <a href="#" class="hoverCom" onclick="Delete(@item.Id)"><i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i></a>
                        break;
                    case 14:
                        <span class="btn btn-light">
                            <img width="41" height="32" src="~/Content/media/@item.FolderName" />
                            @if (item.FolderName.Length > 10)
                            {
                                <span style="text-align:center">
                                    @item.FolderName.Substring(0, 10)  ...
                                </span>
                            }
                            else
                            { <span style="text-align:center">
                                    @item.FolderName
                                </span>}
                        </span>
                        <a href="#" onclick="Delete(@item.Id)" class="hoverCom"><i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i></a>
                        break;
                    case 12:
                        <span class="btn btn-light">
                            <img width="41" height="32" src="~/Content/images/movie_play_black.png" />
                            @if (item.FolderName.Length > 10)
                            {
                                <span style="text-align:center">
                                    @item.FolderName.Substring(0, 10)  ...
                                </span>
                            }
                            else
                            { <span style="text-align:center">
                                    @item.FolderName
                                </span>}
                        </span>
                        <a href="#" onclick="Delete(@item.Id)" class="hoverCom"><i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i></a>
                        break;
                    case 11:
                        <span class="btn btn-light">
                            <img width="41" height="32" src="~/Content/images/mp3-512.png" />
                            @if (item.FolderName.Length > 10)
                            {
                                <span style="text-align:center">
                                    @item.FolderName.Substring(0, 10)  ...
                                </span>
                            }
                            else
                            { <span style="text-align:center">
                                    @item.FolderName
                                </span>}
                        </span>
                        <a href="#" onclick="Delete(@item.Id)" class="hoverCom"><i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i></a>
                        break;
                    default:
                        <span class="btn btn-light">
                            <img width="41" height="32" src="~/Content/images/blank-file.png" />
                            @if (item.FolderName.Length > 10)
                            {
                                <span style="text-align:center">
                                    @item.FolderName.Substring(0, 10)  ...
                                </span>
                            }
                            else
                            { <span style="text-align:center">
                                    @item.FolderName
                                </span>}
                        </span>
                        <a href="#" onclick="Delete(@item.Id)" class="hoverCom"><i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i></a>
                        break;
                }




            </div>

        }
    }
    else /*nếu không có gì bên trong*/
    {
        <h5 style="color:gray">This folder is empty</h5>
    }


</div>
@*modal thêm mới thư mục*@
<div class="modal fade" id="ModalFolder" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">

                <div class="form-group row">
                    <input type="hidden" name="name" id="hdId" value="" />
                    <input type="hidden" id="isInsert" />
                    <label class="control-label col-md-3">Tên folder <span style="color:red">(*)</span></label>
                    <div class="col-md-9">
                        <input class="form-control col-md-12" type="text" id="txtFolder" placeholder="Nhập tên folder">
                        <span style="color:red" id="txtError"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" onclick="CreateFolder()" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*kết thúc modal thêm mới thư mục*@

@*modal upload file*@
<div class="modal fade" id="ModalUpload" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">


                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Chọn file <span style="color:red">(*)</span></span>
                    </div>
                    <div class="custom-file">


                        <input type="file" class="form-control-file col-12" id="fUpload" name="fUpload"
                               aria-describedby="fUpload">

                    </div>

                </div>
                <div class="float-right col-9">
                    <span style="color:red" id="txtErrorUpload"></span>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="btnFUpload" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*kết thúc modal upload file*@
<script>
    function showModal() {
        $('#btnSave').html('Create');
        $('#hdId').val('');
        $('#txtError').text('');
        $('#txtFolder').val('');
        $("#ModalFolder").modal({ backdrop: "static" })
    }
    function GetObjById(id) {
        $('#txtError').text('');
        $('#txtFolder').val('');

        let formData = new FormData();
        formData.append('id', id);
        $.ajax({
            url: '@Url.Action("GetObjById","Home")',
            data: formData,
            type: 'POST',
            success: function (data) {
                if (data != null && data !=="") {
                    $('#btnSave').html('Update');
                    $('#txtFolder').val(data.FolderName)
                    $('#hdId').val(data.Id);
                    //hiện modal
                    $("#ModalFolder").modal({ backdrop: "static" })
                }
                else {
                    alert("Có lỗi xảy ra");
                }
            },
            error: function (result, textStatus, errorThrown) {
                alert("Có lỗi", "Error:" + errorThrown + " - " + textStatus + " - " + result, "error");
            },
            cache: false,
            processData: false,
            contentType: false
        });

    }
    function CreateFolder() {
        let name = $('#txtFolder').val().trim();
        if (name === "" || name == undefined) {
            $('#txtError').text('Tên folder không được để trống');
            return;
        }
        $('txtError').text('');
        let parentId = @ViewBag.CurrentID ;
        let url = '';
        if ($('#hdId').val()>0) {
            url = '@Url.Action("UpdateFolder", "Home")';
        }
        else {
            url = '@Url.Action("CreateFolder", "Home")'
        }
        let formData = new FormData();
        formData.append('id', $('#hdId').val());
        formData.append('ParentId', parentId);
        formData.append('name', name);
        $.ajax({
            url: url,
            data: formData,
                type: 'POST',
            success: function (data) {
                if (data !== "") {
                     $("#ModalFolder").modal("hide")
                        window.location.reload();
                }
                else {
                     $('#txtError').text('Có lỗi xảy ra');
                }
                },
                error: function (error) {
                   $('#txtError').text('Có lỗi xảy ra');
                },
                cache: false,
                processData: false,
                contentType: false
            });
        }
    function Delete(id) {
        let formData = new FormData();
        if (!confirm("Bạn có chắc muốn xóa? Hành động này sẽ xóa hết tất cả thành phần bên trong.")) {
            return;
        }

        formData.append('id', id);
      
        $.ajax({
            url: "/Home/Delete",
            data: formData,
                type: 'POST',
            success: function (data) {
                if (data !== "") {
                     
                        window.location.reload();
                }
                else {
                    alert('Có lỗi xảy ra');
                }
                },
                error: function (error) {
                   alert('Có lỗi xảy ra');
                },
                cache: false,
                processData: false,
                contentType: false
            });
    }

    function showModalUpload() {
        $('#fUpload').val('');
        $('#txtErrorUpload').text('');
        $("#ModalUpload").modal({ backdrop: "static" })
        }

    $(document).ready(function () {

        $('#btnFUpload').click(function () {
            if ($("#fUpload").get(0).files.length ===0) {
                $('#txtErrorUpload').text('Bạn phải chọn file');
                return;
            }
            let parentId = @ViewBag.CurrentID ;
            var fileUpload = $("#fUpload").get(0);
            var file = fileUpload.files;
            var formData = new FormData();
            formData.append('file', file[0]);
            formData.append('ParentId', parentId);
            $.ajax({
                type: "POST",
                contentType: false,//"application/json; charset=utf-8",
                processData:false,
                url: "/Home/PushFile",
                data: formData,
                dataType: "json",
                async: "false",
                success: function (data) {

                    if (data != null && data!='') {

                        window.location.reload();

                    } // iff
                    else
                        alert('Có lỗi xảy ra trong quá trình thực hiện');
                },
                error: function (result, textStatus, errorThrown) {
                    alert("Error:" + errorThrown + " - " + textStatus + " - " + result);
                }
            });
        });

    })
</script>